<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="header" th:fragment="header-usuario">
        <p>User Admin Page</p>
        <div class="links">
            <a class="crud-user create" href="pagina-crear-usuario">Create User</a>
            <a class="crud-user delete" href="pagina-borrar-usuario">Delete User</a>
            <a class="crud-user update" href="pagina-update-usuario">Update User</a>
        </div>

    </div>
</body>
</html>