<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="header" th:fragment="header-entrada">
        <p>Ticket Admin Page</p>
        <div class="links">
            <a class="crud-user create" href="pagina-crear-entrada">Create Ticket</a>
            <a class="crud-user delete" href="pagina-borrar-entrada">Delete Ticket</a>
            <a class="crud-user update" href="pagina-update-entrada">Update Ticket</a>
        </div>

    </div>
</body>
</html>