<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>

  <div class="sidebar" th:fragment="sidebar">
    <a href="/"><h2>Menu</h2></a>
    <ul>
      <li>
        <img src="../static/assets/icons/User_Empty.svg" th:src="@{assets/icons/User_Empty.svg}">
        <a href="pagina-usuarios"><i class="fas fa-users"></i>Users</a>
      </li>
      <li>
        <img src="../static/assets/icons/Dribbble.svg" th:src="@{assets/icons/Dribbble.svg}">
        <a href="pagina-eventos"><i class="fas fa-events"></i>Events</a>
      </li>
      <li>
        <img src="../static/assets/icons/Ticket - SVG.svg" th:src="@{assets/icons/Ticket - SVG.svg}">
        <a href="pagina-entradas"><i class="fas fa-tickets"></i>Tickets</a>
      </li>
      <li>
        <img src="../static/assets/icons/Chat_Chats.svg" th:src="@{assets/icons/Chat_Chats.svg}">
        <a href="#"><i class="fas fa-project-diagram"></i>Chat</a>
      </li>
    </ul>
  </div>

</body>
</html>