<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New ticket</title>
    <link th:href="@{/styles/main.css}" rel="stylesheet" />
</head>
<body>


    <div class="wrapper" >
        <div th:replace="fragments/sidebar :: sidebar"></div>

        <div class="main_content">
            <div th:replace="fragments/header-entrada :: header-entrada"></div>
            <div class="info">
                <table class="info-table">
                    <form  th:action="@{/pagina-post-entrada}" th:object="${entrada}" method="post">
                        <tr class="update-form">
                            <td><input class="update-input" type="number" th:field="*{iduser}"  placeholder="User Id" required></td>
                            <td><input class="update-input" type="number" th:field="*{idevent}"  placeholder="Event Id" required></td>
                            <td><input class="update-input" type="text" th:field="*{type}"  placeholder="Type" required></td>
                            <td><input class="update-input" type="number" th:field="*{price}"  placeholder="Price" value required></td>
                            <td><input class="update-button" type="submit" value="Create" /></td>
                        </tr>

                    </form>
                </table>

            </div>
        </div>

    </div>

</body>
</html>