<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Page to create a new user</title>
	<link th:href="@{/styles/main.css}" rel="stylesheet" />
</head>
<body>


	<div class="wrapper" >
		<div th:replace="fragments/sidebar :: sidebar"></div>

		<div class="main_content">
			<div th:replace="fragments/header-usuario :: header-usuario"></div>

			<div class="info">
				<table class="info-table">
					<form  th:action="@{/pagina-post-usuario}" th:object="${usuario}" method="post">
						<tr class="update-form">
							<td><input class="update-input" type="text" th:field="*{username}"  placeholder="Username" required></td>
							<td><input class="update-input" type="text" th:field="*{name}"  placeholder="Name" required></td>
							<td><input class="update-input" type="text" th:field="*{password}"  placeholder="Password" required></td>
							<td><input class="update-input" type="text" th:field="*{address}"  placeholder="Address" required></td>
							<td><input class="update-input" type="number" th:field="*{phone}"  placeholder="Phone" required></td>
							<td><input class="update-button" type="submit" value="Create" /></td>
						</tr>

					</form>
				</table>

			</div>
		</div>

	</div>

</body>
</html>