<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Delete user</title>
	<link th:href="@{/styles/main.css}" rel="stylesheet" />
</head>
<body>


	<div class="wrapper" >
		<div th:replace="fragments/sidebar :: sidebar"></div>

		<div class="main_content">
			<div th:replace="fragments/header-usuario :: header-usuario"></div>
			<div class="info">

				<form class="search-form" th:action="@{/pagina-delete-usuario}" method="post">
					<input class="search-input" type="text" th:value="*{username}" name="username" placeholder="Username to Delete">
					<input class="search-button" type="submit" value="Delete" />
				</form>

			</div>
		</div>

	</div>

</body>
</html>