<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tickets</title>
    <link th:href="@{/styles/main.css}" rel="stylesheet" />
</head>
<body>

    <div class="wrapper" >
        <div th:replace="fragments/sidebar :: sidebar"></div>

        <div class="main_content">
            <div th:replace="fragments/header-entrada :: header-entrada"></div>
            <div class="info">

                <form class="search-form" th:action="@{/pagina-search-entrada}" method="post">
                    <input class="search-input" type="text" th:value="*{id}" name="id" placeholder="Search Ticket Id">
                    <input class="search-button" type="submit" value="Submit" />
                </form>

                <table class="info-table">
                    <tr>
                        <th>Id</th>
                        <th>User id</th>
                        <th>Event id</th>
                        <th>Type</th>
                        <th>Price</th>
                    </tr>
                    <tr th:each="ticket : ${ticketList}">
                        <td th:text="${ticket.idticket}"></td>
                        <td th:text="${ticket.iduser}"></td>
                        <td th:text="${ticket.idevent}"></td>
                        <td th:text="${ticket.type}"></td>
                        <td th:text="${ticket.price}"></td>
                    </tr>
                </table>

            </div>
        </div>

    </div>

</body>
</html>