<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<p>
		<a href="pagina-evento/gabriel">Página para ver un evento (GET)</a>
	</p>
	<p>
		<a href="pagina-todos-eventos">Página para ver todos los eventos (GET)</a>
	</p>
	<p>
		<a href="pagina-crear-evento">Formulario para guardar un evento (POST)</a>
	</p>
	<p>
		<a href="pagina-borrar-evento">Página para borrar un evento (DELETE)</a>
	</p>
	<p>
		<a href="pagina-update-evento">Pagina para hacer update de un evento (PUT)</a>
	</p>
</body>
</html>