<!DOCTYPE html>
<html>
<head>
	<meta charset="ISO-8859-1">
	<title>Events</title>
	<link th:href="@{/styles/main.css}" rel="stylesheet" />
</head>
<body>

	<div class="wrapper" >
		<div th:replace="fragments/sidebar :: sidebar"></div>

		<div class="main_content">
			<div class="header">Events Admin Page</div>
			<div class="info">
				<p>
					<a href="pagina-todos-eventos">Página para ver todos los eventos (GET)</a>
				</p>
				<p>
					<a href="pagina-crear-evento">Formulario para guardar un evento (POST)</a>
				</p>
				<p>
					<a href="pagina-borrar-evento">Página para borrar un evento (DELETE)</a>
				</p>
				<p>
					<a href="pagina-update-evento">Pagina para hacer update de un evento (PUT)</a>
				</p>
				<p>
					<a href="pagina-update-evento">Pagina para hacer select de un evento (PUT)</a>
				</p>
			</div>
		</div>

	</div>
</body>
</html>