<!DOCTYPE html>
<html>
<head>
	<meta charset="ISO-8859-1">
	<title>Events</title>
	<link th:href="@{/styles/main.css}" rel="stylesheet" />
</head>
<body>
	<div class="wrapper" >
		<div th:replace="fragments/sidebar :: sidebar"></div>

		<div class="main_content">
			<div th:replace="fragments/header-evento :: header-evento"></div>
			<div class="info">

				<form class="search-form" th:action="@{/pagina-search-evento}" method="post">
					<input class="search-input" type="number" th:value="*{id}" name="id" placeholder="Search Event Id">
					<input class="search-button" type="submit" value="Submit" />
				</form>

				<table class="info-table">
					<tr>
						<th>Event Name</th>
						<th>Id Event</th>
						<th>Category</th>
						<th>Date</th>
						<th>City</th>
						<th>Hall</th>
					</tr>
					<tr th:each="evento : ${eventList}">

						<td class="event-name-img">
							<img th:src="${imgUtil.getImgData(evento.image)}" alt="">
							<div th:text="${evento.name}"></div>
						</td>
						<td th:text="${evento.idevent}"></td>
						<td th:text="${evento.category}"></td>
						<td th:text="${evento.date}"></td>
						<td th:text="${evento.city}"></td>
						<td th:text="${evento.hall}"></td>
					</tr>
				</table>

			</div>
		</div>

	</div>
</body>
</html>