<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1"/>
	<title>Home</title>
	<link th:href="@{/styles/main.css}" rel="stylesheet" />

</head>
<body>
	<div class="wrapper" >
		<div th:replace="fragments/sidebar :: sidebar"></div>

		<div class="main_content">
			<div class="header">Home</div>
			<div class="info">
				<h2>Pagina del administrador</h2>
				<p>Dominio: Event.int</p>

				<img class="foto-index" src="../static/assets/images/foto-index.png" th:src="@{assets/images/foto-index.png}">
			</div>
		</div>

	</div>
</body>
</html>	