<html xmlns:th="http://www.thymeleaf.org">
<body>
<h2>ALL Events</h2>
<table>
    <tr th:each="en : ${ticketList}">
        <td>id ticket:<span th:number="${entrada.idticket}">default name</span></td>
        <td>id usuario:<span th:number="${entrada.iduser}">default name</span></td>
        <td>id evento:<span th:number="${entrada.iduser}">default name</span></td>
        <td>tipo:<span th:text="${entrada.type}">default name</span></td>
        <td>Precio:<span th:text="${entrada.price}">default name</span></td>
    </tr>
</table>
</body>
</html>
