<html xmlns:th="http://www.thymeleaf.org">
<body>
<h2>ALL Events</h2>
<table>
<tr th:each="evento : ${eventList}">
	<td>Event name:<span th:text="${evento.name}">default name</span></td>
	<td>Event category:<span th:text="${evento.category}">default name</span></td>
	<td>Event date:<span th:text="${evento.date}">default name</span></td>
	<td>Event city:<span th:text="${evento.city}">default name</span></td>
	<td>Event hall:<span th:text="${evento.hall}">default name</span></td>
	<img th:src="${imgUtil.getImgData(evento.image)}" alt="">
</tr>
</table>
</body>
</html>

