<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Page to update ticket</title>
</head>
<body>

<form th:action="@{/pagina-update-entrada}" th:object="${entrada}" method="post">
    <label >id de la entrada a actualizar:</label>
    <input type="number" th:field="*{idticket}">
    <label >id usuario:</label>
    <input type="number" th:field="*{iduser}">
    <label >id evento:</label>
    <input type="number" th:field="*{idevent}">
    <label >tipo:</label>
    <input type="text" th:field="*{type}">
    <label >precio:</label>
    <input type="float" th:field="*{price}">
    <input type="submit" value="Update" />
</form>

</body>
</html>