<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
        <head>
        <meta charset="UTF-8">
        <title>Update user</title>
        <link th:href="@{/styles/main.css}" rel="stylesheet" />
</head>
<body>

    <div class="wrapper" >
        <div th:replace="fragments/sidebar :: sidebar"></div>

        <div class="main_content">
            <div th:replace="fragments/header-usuario :: header-usuario"></div>
            <div class="info">

                <table class="info-table">
                    <form  th:action="@{/pagina-update-usuario}" th:object="${usuario}" method="post">
                        <tr class="update-form">
                            <td><input class="update-input" type="number" th:field="*{iduser}" placeholder="Id"></td>
                            <td><input class="update-input" type="text" th:field="*{username}"  placeholder="Username"></td>
                            <td><input class="update-input" type="text" th:field="*{name}"  placeholder="Name"></td>
                            <td><input class="update-input" type="text" th:field="*{password}"  placeholder="Password"></td>
                            <td><input class="update-input" type="text" th:field="*{address}"  placeholder="Address"></td>
                            <td><input class="update-input" type="number" th:field="*{phone}"  placeholder="Phone"></td>
                            <td><input class="update-button" type="submit" value="Update" /></td>
                        </tr>

                    </form>
                </table>

            </div>
        </div>

    </div>




</body>
</html>