<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1"/>
	<title>Users</title>
	<link th:href="@{/styles/main.css}" rel="stylesheet" />

</head>
<body>



	<div class="wrapper" >
		<div th:replace="fragments/sidebar :: sidebar"></div>

		<div class="main_content">
			<div th:replace="fragments/header-usuario :: header-usuario"></div>
			<div class="info">

				<form class="search-form" th:action="@{/pagina-search-usuario}" method="post">
					<input class="search-input" type="text" th:value="*{username}" name="username" placeholder="Search Username">
					<input class="search-button" type="submit" value="Submit" />
				</form>

				<table class="info-table">
					<tr>
						<th>Id</th>
						<th>Username</th>
						<th>Name</th>
						<th>Password</th>
						<th>Address</th>
						<th>Phone</th>
					</tr>
					<tr th:each="usuario : ${userList}">
						<td th:text="${usuario.iduser}"></td>
						<td th:text="${usuario.username}"></td>
						<td th:text="${usuario.name}"></td>
						<td><span th:text="${usuario.password}">default username</span></td>
						<td><span th:text="${usuario.address}">default username</span></td>
						<td><span th:text="${usuario.phone}">default username</span></td>
					</tr>
				</table>

			</div>
		</div>

	</div>


</body>
</html>	