<html xmlns:th="http://www.thymeleaf.org">
<body>
<h1>USER INFO:</h1>

<h2>id usuario:<span th:text="${usuario.iduser}">default name</span></h2>
<h2>username:<span th:text="${usuario.username}">default surname</span></h2>
<h2>nombre:<span th:text="${usuario.name}">default surname</span></h2>
<h2>contraseña:<span th:text="${usuario.password}">default surname</span></h2>
<h2>direccion:<span th:text="${usuario.address}">default surname</span></h2>
<h2>telefono:<span th:text="${usuario.phone}">default surname</span></h2>


</body>
</html>


