<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Event</title>
    <link th:href="@{/styles/main.css}" rel="stylesheet" />
</head>
<body>

    <div class="wrapper" >
        <div th:replace="fragments/sidebar :: sidebar"></div>

        <div class="main_content">
            <div th:replace="fragments/header-entrada :: header-entrada"></div>
            <div class="info">

                <form class="search-form" th:action="@{/pagina-search-usuario}" method="post">
                    <input class="search-input" type="text" th:value="*{username}" name="username" placeholder="Username">
                    <input class="search-button" type="submit" value="Submit" />
                </form>

                <table class="info-table">
                    <tr>
                        <th>Id</th>
                        <th>User id</th>
                        <th>Event id</th>
                        <th>Type</th>
                        <th>Price</th>
                    </tr>
                    <tr>
                        <td th:text="${entrada.idticket}"></td>
                        <td th:text="${entrada.iduser}"></td>
                        <td th:text="${entrada.idevent}"></td>
                        <td th:text="${entrada.type}"></td>
                        <td th:text="${entrada.price}"></td>
                    </tr>
                </table>

            </div>
        </div>
    </div>
</body>
</html>


