<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Page to update new evento</title>
</head>
<body>
<form th:action="@{/pagina-search-evento}" method="post">
    <label>Search name:</label>
    <input type="text" th:value="${name}" name="name">
    <input type="submit" value="Search" />
</form>

<form th:action="@{/pagina-update-evento}" th:object="${evento}" method="post">
    <label >Nombre:</label>
	<input type="text" th:field="*{name}">
	<label >Categoria:</label>
	<input type="text" th:field="*{category}">
	<label >Fecha:</label>
	<input type="text" th:field="*{date}">
	<label >Ciudad:</label>
	<input type="text" th:field="*{city}">
	<label >Sala:</label>
	<input type="text" th:field="*{hall}">
	<label >Imagen:</label>
	<input type="file" th:field="*{image}">
    <input type="submit" value="Update" />
</form>

</body>
</html>