<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Page to update new user</title>
</head>
<body>
<form th:action="@{/pagina-search-usuario}" method="post">
    <label>Search Username:</label>
    <input type="text" th:value="${username}" name="username">
    <input type="submit" value="Search" />
</form>

<form th:action="@{/pagina-update-usuario}" th:object="${usuario}" method="post">

    <input type="hidden" th:field="*{iduser}" value="Prueba">
    <label >Username:</label>
    <input type="text" th:field="*{username}" value="Prueba">
    <label >User name:</label>
    <input type="text" th:field="*{name}" value="Prueba">
    <label >User password:</label>
    <input type="text" th:field="*{password}" value="Prueba">
    <label >User address:</label>
    <input type="text" th:field="*{address}" value="Prueba">
    <label >User phone:</label>
    <input type="text" th:field="*{phone}" value="Prueba">
    <input type="submit" value="Update" />
</form>

</body>
</html>